.ourCommitmentContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 12rem;
  margin-bottom: 19.8rem;
}

.ourCommitmentImage {
  display: flex;
  max-height: 40rem;
  max-width: 100%;
  margin-bottom: 4.8rem;
  border-radius: 8px;
}

.ourCommitmentTitle {
  color: var(--color-dark-grey-blue);
  line-height: 4.8rem;
  margin-bottom: 3rem;
  text-align: center;
}

.ourCommitmentParapgraph {
  max-width: 38ch;
  text-align: center;
  font-size: 1.5rem;
  line-height: 2.5rem;
  opacity: 0.8;
  color: var(--color-dark-grey-blue);
}

.qualityContainer {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--color-darker-grey-blue);
  background-image: url('../../images/about/mobile/bg-quality.png');
  background-size: cover;
  border-radius: 10px;
  height: 50.9rem;
  margin-bottom: 12rem;
  color: var(--color-light-cream-bg);
}

.pictureContainer {
  display: flex;
  justify-content: center;
}

.qualityImage {
  position: absolute;
  top: -7.8rem;
  max-height: 15.6rem;
  max-width: calc(100% - 13%);
  margin-bottom: 6.4rem;
  border-radius: 8px;
}

.qualityTitle {
  font-size: 2.8rem;
  line-height: 2.8rem;
  text-align: center;
  max-width: 17ch;
  margin-top: 14.2rem;
  margin-bottom: 2.4rem;
}

.qualityParagraph {
  font-size: 1.5rem;
  line-height: 2.5rem;
  text-align: center;
  max-width: 33ch;
  opacity: 0.8;
}

.ourHeadquartersTitle {
  color: var(--color-grey);
  text-align: center;
  margin-bottom: 7.2rem;
}

@media screen and (min-width: 768px) {
  .ourCommitmentContainer {
    flex-direction: row;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
    max-width: 80rem;
    margin-bottom: 30.4rem;
  }

  .ourCommitmentSubContainer {
    height: 45.3rem;
  }

  .ourCommitmentImage {
    max-height: 47rem;
    max-width: 100%;
    margin-bottom: 0;
    border-radius: 8px;
  }

  .ourCommitmentTitle {
    text-align: start;
  }

  .ourCommitmentParapgraph {
    text-align: start;
    max-width: 40ch;
  }

  .qualityContainer {
    align-items: center;
    background-color: var(--color-darker-grey-blue);
    background-image: url('../../images/about/tablet/bg-quality.png');
    background-size: cover;
    border-radius: 10px;
    height: 48.8rem;
    margin-bottom: 12rem;
    color: var(--color-light-cream-bg);
  }

  .qualityImage {
    position: absolute;
    top: -16rem;
    max-height: 32rem;
    max-width: 100%;
    margin-bottom: 6.4rem;
    border-radius: 8px;
  }

  .qualityTitle {
    font-size: 3.2rem;
    line-height: 4.8rem;
    margin-top: 22.4rem;
    max-width: 18ch;
  }

  .qualityParagraph {
    max-width: 63.2ch;
  }

  .ourHeadquartersTitle {
    text-align: start;
    font-size: 2.4rem;
  }

  .ourHeadquartersContainer {
    display: flex;
    flex-direction: row;
    width: 68.8rem;
    justify-content: space-between;
  }
}

@media screen and (min-width: 1440px) {
  .ourCommitmentContainer {
    flex-direction: row;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
    max-width: 111rem;
    margin-top: 16.8rem;
    margin-bottom: 25.6rem;
  }

  .ourCommitmentSubContainer {
    height: 34rem;
  }

  .ourCommitmentImage {
    max-height: 52rem;
    max-width: 100%;
    margin-bottom: 0;
    border-radius: 8px;
  }

  .ourCommitmentTitle {
    text-align: start;
    font-size: 4rem;
    line-height: 4.8rem;
  }

  .ourCommitmentParapgraph {
    text-align: start;
    max-width: 59.5ch;
    font-size: 1.6rem;
    line-height: 2.6rem;
  }

  .qualityContainer {
    align-items: center;
    background-color: var(--color-darker-grey-blue);
    background-image: url('../../images/about/desktop/bg-quality.png');
    background-size: cover;
    border-radius: 10px;
    height: 48.8rem;
    margin-bottom: 12rem;
    color: var(--color-light-cream-bg);
  }

  .qualityImage {
    position: absolute;
    top: -16rem;
    max-height: 32rem;
    max-width: 100%;
    margin-bottom: 6.4rem;
    border-radius: 8px;
  }

  .qualityTitle {
    font-size: 3.2rem;
    line-height: 4.8rem;
    margin-top: 22.4rem;
    max-width: 18ch;
  }

  .qualityParagraph {
    max-width: 63.2ch;
  }
}
