.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 26.2rem;
  justify-content: space-between;
  margin-bottom: 8rem;
}

.container:last-of-type {
  margin-bottom: 0;
}

.subContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.image {
}

.title {
  font-size: 2.8rem;
  margin-bottom: 2.2rem;
  color: var(--color-dark-grey-blue);
}

.info {
  white-space: pre-wrap;
}

@media screen and (min-width: 768px) {
  .container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: 26.2rem;
    justify-content: space-between;
    margin-bottom: 0;
    width: 22.3rem;
  }

  .container:last-of-type {
    margin-bottom: 0;
  }

  .subContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .image {
  }

  .title {
    font-size: 2.4rem;
    margin-bottom: 2.2rem;
    color: var(--color-dark-grey-blue);
  }
}

@media screen and (min-width: 1440px) {
  .container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: 26.2rem;
    justify-content: space-between;
    margin-bottom: 0;
    width: 28.5rem;
  }

  .title {
    font-size: 3.2rem;
    margin-bottom: 2.4rem;
  }
}
