.planStepsContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 12rem;
  min-height: 102.8rem;
  padding-left: 2.4rem;
  padding-right: 2.4rem;
  background-color: var(--color-darker-grey-blue);
  background-image: url(../../images/plan/mobile/bg-steps.png);
  background-size: cover;
  border-radius: 10px;
}

.planStepsContainer div:last-of-type > p {
  max-width: 37ch;
}

.planQuestionContainer {
  margin-top: 12rem;
}

.planQuestionContainer details:last-of-type {
  margin-bottom: 0;
}

.orderSummary {
  min-height: 33.8rem;
  margin-top: 12rem;
  background-color: var(--color-darker-grey-blue);
  background-image: url(../../images/plan/mobile/bg-order-summary.png);
  background-size: cover;
  border-radius: 10px;
  padding: 3.2rem 2.4rem;
}

.orderSummary p {
  margin-bottom: 0.8rem;
  color: white;
  opacity: 0.5;
}

.orderSummary span {
  color: var(--color-dark-cyan);
}

.orderSummary h4 {
  line-height: 4rem;
  color: white;
}

.buttonContainer {
  text-align: center;
  margin-top: 5.6rem;
}
