.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 12rem;
  margin-bottom: 7.2rem;
  background-color: var(--color-darker-grey-blue);
}

.subContainer {
  margin: 5.4rem 5.5rem;
}

.logo {
  width: 100%;
  margin-right: auto;
  fill: white;
  list-style: none;
}

.svgFill {
  fill: white;
  color: red;
}

.navLinks {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  font-family: var(--ff-barlow);
  font-weight: bold;
  text-transform: uppercase;
  list-style: none;
  font-size: 1.2rem;
  line-height: 1.5rem;
  letter-spacing: 1px;
  height: 9.3rem;
  margin-top: 4.84rem;
  margin-bottom: 4.85rem;
}

.link a {
  text-decoration: none;
  color: var(--color-grey);
}

.link a:visited {
  text-decoration: none;
  color: var(--color-grey);
}

.link a:hover {
  cursor: pointer;
  color: var(--color-dark-grey-blue);
}

.socialMedia {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  padding-left: 5.8rem;
  padding-right: 5.8rem;
}

@media screen and (min-width: 768px) {
  .container {
    margin-top: 14.4rem;
  }

  .link a {
    margin-left: 2rem;
    margin-right: 2rem;
    text-decoration: none;
    color: var(--color-grey);
  }

  .link a:visited {
    text-decoration: none;
  }

  .link a:hover {
    cursor: pointer;
    color: var(--color-dark-grey-blue);
  }
}
