.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 12rem;
  margin-bottom: 7.2rem;
  background-color: var(--color-darker-grey-blue);
}

.subContainer {
  margin: 5.4rem 5.5rem;
}

.logo {
  width: 100%;
  height: 2.4rem;
  margin-right: auto;
  fill: white;
  list-style: none;
}

.svgFill {
  fill: white;
  color: red;
}

.navLinks {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  font-family: var(--ff-barlow);
  font-weight: bold;
  text-transform: uppercase;
  list-style: none;
  font-size: 1.2rem;
  line-height: 1.5rem;
  letter-spacing: 1px;
  height: 9.3rem;
  margin-top: 4.84rem;
  margin-bottom: 4.85rem;
}

.link a {
  text-decoration: none;
  color: var(--color-grey);
}

.link a:visited {
  text-decoration: none;
  color: var(--color-grey);
}

.link a:hover {
  cursor: pointer;
  color: var(--color-light-cream-bg);
}

.socialMedia {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  padding-left: 5.8rem;
  padding-right: 5.8rem;
}

.socialMediaButton {
  cursor: pointer;
}

.socialMediaButton:hover {
  color: red;
}

@media screen and (min-width: 768px) {
  .container {
    margin-top: 14.4rem;
    height: 27rem;
    justify-content: center;
  }

  .subContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 16.2rem;
    margin: unset;
  }

  .logo {
    text-align: center;
    height: 2.6rem;
  }

  .link a {
    margin-left: 2rem;
    margin-right: 2rem;
    text-decoration: none;
  }

  .link a:visited {
    text-decoration: none;
  }

  .link a:hover {
    cursor: pointer;
  }

  .navLinks {
    flex-direction: row;
    height: unset;
    margin: unset;
    margin-top: 3.2rem;
  }

  .navLinks li a {
    margin: unset;
  }

  .navLinks li:nth-of-type(2) {
    margin-left: 3.2rem;
    margin-right: 3.3rem;
  }

  .socialMedia {
    margin-top: 6.5rem;
    display: flex;
  }

  .socialMedia li:nth-of-type(2) {
    margin-right: 2.4rem;
    margin-left: 2.4rem;
  }
}

@media screen and (min-width: 1440px) {
  .container {
    height: 12rem;
    margin-top: 20rem;
  }

  .subContainer {
    flex-direction: row;
    justify-content: flex-start;
    width: 100%;
  }

  .logo {
    margin-left: 8.5rem;
    margin-right: 10.2rem;
    width: unset;
  }

  .navLinks {
    margin: unset;
  }

  .socialMedia {
    margin: unset;
    margin-left: auto;
    padding-left: unset;
    padding-right: 8.5rem;
  }
}
