.homeContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 50rem;
  border-radius: 10px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: var(--color-darker-grey-blue);
  background-image: url('../images/home/mobile/image-hero-coffeepress.jpg');
  color: var(--color-light-cream-bg);
}

.homeTitle {
  text-align: center;
  font-size: 4rem;
  line-height: 4rem;
  max-width: 28rem;
  padding-top: 10rem;
  padding-bottom: 2.5rem;
}

.homeParagraph {
  text-align: center;
  font-size: 1.5rem;
  max-width: 36ch;
  padding-bottom: 3.9rem;
  opacity: 0.8;
}

.aboutContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 40rem;
  border-radius: 10px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: var(--color-darker-grey-blue);
  background-image: url('../images/about/mobile/image-hero-whitecup.jpg');
  color: var(--color-light-cream-bg);
}

.aboutTitle {
  text-align: center;
  font-size: 2.8rem;
  line-height: 2.8rem;
  max-width: 28rem;
  padding-top: 10rem;
  padding-bottom: 2.5rem;
}

.aboutParagraph {
  text-align: center;
  font-size: 1.5rem;
  max-width: 33ch;
  padding-bottom: 3.9rem;
  opacity: 0.8;
}

.planContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 40rem;
  border-radius: 10px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: var(--color-darker-grey-blue);
  background-image: url('../images/plan/mobile/image-hero-blackcup.jpg');
  color: var(--color-light-cream-bg);
}

.planTitle {
  text-align: center;
  font-size: 4rem;
  line-height: 4rem;
  max-width: 28rem;
  padding-top: 10rem;
  padding-bottom: 2.5rem;
}

.planParagraph {
  text-align: center;
  font-size: 1.5rem;
  max-width: 36ch;
  padding-bottom: 3.9rem;
  opacity: 0.8;
}

@media screen and (min-width: 768px) {
  .homeContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: 50rem;
    border-radius: 10px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: var(--color-darker-grey-blue);
    background-image: url('../images/home/tablet/image-hero-coffeepress.jpg');
    color: var(--color-light-cream-bg);
  }

  .homeTitle {
    text-align: start;
    font-size: 4.8rem;
    line-height: 4.8rem;
    max-width: 33rem;
    padding-top: 10.4rem;
    padding-bottom: 2.4rem;
    margin-left: 5.8rem;
  }

  .homeParagraph {
    text-align: start;
    font-size: 1.5rem;
    max-width: 44ch;
    padding-bottom: 3.9rem;
    margin-left: 5.8rem;
    opacity: 0.8;
  }

  .homeContainer button {
    margin-left: 5.8rem;
  }

  .aboutContainer {
    align-items: flex-start;
    background-image: url('../images/about/tablet/image-hero-whitecup.jpg');
  }

  .aboutTitle {
    margin-left: 5.8rem;
    font-size: 3.2rem;
    line-height: 4rem;
    padding-top: 11.8rem;
  }

  .aboutParagraph {
    text-align: start;
    margin-left: 5.8rem;
    line-height: 2.5rem;
    max-width: 47ch;
  }

  .planContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: 40rem;
    border-radius: 10px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: var(--color-darker-grey-blue);
    background-image: url('../images/plan/tablet/image-hero-blackcup.jpg');
    color: var(--color-light-cream-bg);
  }

  .planTitle {
    text-align: start;
    font-size: 4.8rem;
    line-height: 4.8rem;
    max-width: 33rem;
    margin-left: 5.8rem;
    padding-top: 12.7rem;
    padding-bottom: 2.4rem;
  }

  .planParagraph {
    text-align: start;
    font-size: 1.5rem;
    max-width: 45ch;
    margin-left: 5.8rem;
    padding-bottom: 3.9rem;
    opacity: 0.8;
  }
}

@media screen and (min-width: 1440px) {
  .homeContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: 60rem;
    border-radius: 10px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: var(--color-darker-grey-blue);
    background-image: url('../images/home/desktop/image-hero-coffeepress.jpg');
    color: var(--color-light-cream-bg);
  }

  .homeTitle {
    text-align: start;
    font-size: 7.2rem;
    line-height: 7.2rem;
    max-width: 12ch;
    padding-top: 10.4rem;
    padding-bottom: 3.2rem;
    margin-left: 8.5rem;
  }

  .homeParagraph {
    text-align: start;
    font-size: 1.6rem;
    line-height: 2.6rem;
    max-width: 44ch;
    padding-bottom: 5.6rem;
    margin-left: 8.5rem;
    opacity: 0.8;
  }

  .homeContainer button {
    margin-left: 8.5rem;
  }

  .aboutContainer {
    align-items: flex-start;
    background-image: url('../images/about/desktop/image-hero-whitecup.jpg');
    height: 45rem;
  }

  .aboutTitle {
    font-size: 4rem;
    line-height: 4.8rem;
    margin-left: 8.5rem;
    padding-top: 13.7rem;
    padding-bottom: 2.4rem;
  }

  .aboutParagraph {
    text-align: start;
    font-size: 1.6rem;
    margin-left: 8.5rem;
    line-height: 2.6rem;
    max-width: 47ch;
  }
}
