.noScroll {
  overflow: hidden;
}

.ourCollectionContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 12rem;
  margin-bottom: 12rem;
}

.ourCollectionContainer h4 {
  margin-bottom: 1.6rem;
}

.ourCollectionContainer p {
  width: 31ch;
  text-align: center;
}

.ourCollectionContainer img {
  height: 151px;
  margin-top: 4.8rem;
  margin-bottom: 2.4rem;
}
.ourCollectionContainer img:first-of-type {
  margin-top: 1.3rem;
}

.ourCollectionHeader {
  background-color: #f3ec78;
  background: linear-gradient(
    180deg,
    rgba(131, 136, 143, 0.9) 0%,
    rgba(131, 136, 143, 0.1) 100%
  );
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  line-height: 7.2rem;
}

.whyChooseUsContainer {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-bottom: 12rem;
  color: var(--color-light-cream-bg);
}

.whyChooseUsContainer::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  height: 60%;
  background-color: var(--color-darker-grey-blue);
  z-index: -1;
  border-radius: 10px;
}

.whyChooseUsProposal {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-top: 6.4rem;
  margin-bottom: 6.4rem;
}

.whyChooseUsProposal p {
  width: 33ch;
}

.whyChooseUsCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  height: 38.2rem;
  background-color: var(--color-dark-cyan);
  border-radius: 8px;
  margin-bottom: 2.4rem;
}

.whyChooseUsCard p {
  width: 23ch;
  margin-top: 2.4rem;
}

.whyChooseUsCard img {
  margin-top: 7.2rem;
  margin-bottom: 5.6rem;
}

.whyChooseUsCard,
.whyChooseUsProposal {
  margin-left: 2.4rem;
  margin-right: 2.4rem;
}

.whyChooseUsCard:last-of-type {
  margin-bottom: 0;
}

.howItWorksContainer {
}
