.header {
  margin-top: 3.2rem;
  margin-bottom: 4rem;
}

.navbar {
  display: flex;
  list-style: none;
  justify-content: space-between;
  align-items: center;
  font-family: var(--ff-barlow);
  font-weight: 700;
  letter-spacing: 1px;
  font-size: 1.2rem;
  line-height: 1.5rem;
}

.logo {
  position: relative;
  margin-right: auto;
  width: 16.3rem;
  z-index: 20;
}

.hamburgerButton {
  border-style: none;
  background-color: white;
  z-index: 20;
}

.hamburgerClose {
  display: block;
  cursor: pointer;
}

.hamburgerOpen {
  display: block;
  cursor: pointer;
}

/* ------- Mobile Menu ------- */
@media screen and (max-width: 767.9px) {
  .navMenu {
    position: fixed;
    flex-direction: column;
    top: 0;
    opacity: 0;
    z-index: 10;
    width: 100vw;
    height: 100vh;
    margin-left: -2.4rem;
    visibility: hidden;
    text-align: center;
    transition: 0.3s;
    background: linear-gradient(
      180deg,
      rgba(254, 252, 246, 1) 50%,
      rgba(0, 0, 0, 0) 100%
    );
    list-style-type: none;
  }

  .showNavMenu {
    visibility: visible;
    opacity: 1;
    transition: 0.5s;
  }

  .navLink {
    margin: 3rem 0;
    font-size: 2.4rem;
    line-height: 3.2rem;
    text-decoration: none;
    color: var(--color-dark-grey-blue);
    font-family: var(--ff-fraunces);
  }

  .navLink:first-of-type {
    margin-top: 13rem;
  }
}

/* ------------------------- */

@media screen and (min-width: 768px) {
  .header {
    margin-bottom: 5.3rem;
  }

  .logo {
    width: 23.6rem;
  }

  .navbar {
    display: flex;
  }

  .navMenu {
    list-style: none;
    display: flex;
    flex-direction: row;
    width: 28.3rem;
    justify-content: space-between;
    align-items: center;
  }

  .navLink {
    text-decoration: none;
    color: var(--color-grey);
    text-transform: uppercase;
  }

  .navLink:visited {
    text-decoration: none;
  }

  .navLink:hover {
    cursor: pointer;
    color: var(--color-dark-grey-blue);
  }

  .hamburgerButton {
    display: none;
  }

  .hamburger {
    display: none;
  }

  .hamburgerClose {
    display: none;
  }
}

@media screen and (min-width: 1440px) {
  .header {
    margin-top: 5rem;
    margin-bottom: 4.8rem;
  }
}
