.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.number {
  color: var(--color-pale-orange);
}

.title {
  margin-top: 2.4rem;
  margin-bottom: 2.4rem;
}

.paragraph {
  max-width: 38ch;
  text-align: center;
  font-size: 1.5rem;
  line-height: 2.5rem;
}

@media screen and (min-width: 768px) {
  .container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    width: 22.3rem;
  }

  .number {
    color: var(--color-pale-orange);
  }

  .title {
    margin-top: unset;
    margin-bottom: unset;
    width: 11ch;
  }

  .paragraph {
    max-width: 24ch;
    text-align: start;
    font-size: 1.5rem;
    line-height: 2.5rem;
  }
}

@media screen and (min-width: 1440px) {
  .container {
    width: 28.5rem;
    height: 35.5rem;
  }

  .title {
    font-size: 3.2rem;
    line-height: 3.6rem;
  }

  .paragraph {
    font-size: 1.6rem;
    line-height: 2.6rem;
    max-width: 31.5ch;
  }
}
