.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.number {
  color: var(--color-pale-orange);
}

.title {
  margin-top: 2.4rem;
  margin-bottom: 2.4rem;
}

.paragraph {
  max-width: 38ch;
  text-align: center;
}
